*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

/** TYPOGRAPHY **/

i{
    font-size: 2rem;
    display: block;
}

.head-title{
    font-size: 1rem;
    margin: 0;
    word-spacing: 0.1rem;
    align-self: center;
}

.head-container{
   
    display: flex;

}

header{
    padding: 1em 0.5em;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

nav{
    display: flex;
    gap: 10px;
    margin-left: auto;
}


a{
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
    margin-right: 0.5em;
    color: #090909;
    font-weight: bold;
    font-size: 0.8rem;
}

.intro{
    width: 100%;
    display: block;
    background: url("./images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    min-height: 300px;
    padding: 2rem;
    border: 1px solid #00fff0;
    
}
p{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
}

@media (min-width: 599px ){
   

    i{

        font-size: 4rem;
    }

    .head-title, a{
        font-size: 1.25rem;
    }

     

}