*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

/** TYPOGRAPHY **/

h1,h2,h3{
    margin: 0;
}

i{
    font-size: 2rem;
    display: block;
}

.head-title{
    font-size: 1rem;
    margin: 0;
    word-spacing: 0.1rem;
    align-self: center;
}

p{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    margin: 0;
}

#about-information p{
    line-height: 2;
    margin-top: 1em;

}

/**LAYOUT**/

.head-container{

    display: flex;
   
}

header{
    position: sticky;
    background: #fff;
    top: 0;
    z-index: 100;
    padding: 1em 0.5em;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

nav{
    display: flex;
    gap: 10px;
    margin-left: auto;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
    color: #505050;
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 0.8rem;
}

.intro{
    width: 100%;
    display: block;
    background: url("./images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    min-height: 300px;
    padding: 2rem;
    
}

.content{
    display: grid;
    padding: 1em;
    grid-template-columns: 1fr;
    margin-top: 1em;
    row-gap: 10px;
}

.images{
    box-shadow: 0 0 5px black;
    margin: 0;
    object-fit: cover;
    width: 50%;
}

.data{
    text-transform: none;
    color: #505050;
    display: block;
    font-weight: 100;
    padding: 1em;
    box-shadow: 0 0 6px ;
    border-radius: 5px;
}

#about-image{
  
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

span{
    color: blue;
    font-weight: bold;
}

#about-information{
    
    padding: 1em;
}

#outro{
    background: #202020;
    padding: 3em 1em;
    width: 100%;
    text-align: center;
    color: #fff;
}

#outro h3{
    color: #D7D7D7;
}

#outro h2{
    color: #ECECEC;
}

@media (min-width: 599px ){
   
    i{

        font-size: 4rem;
    }

    .head-title, a{
        font-size: 1.25rem;
    }

    .content{
        grid-template-columns: repeat(2,1fr);
    }

    #about-container{
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    #about-information{
    
        align-self: center;
    }
}